[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {tasktracker,
     [{ecto_repos,['Elixir.Tasktracker.Repo']},
      {'Elixir.TasktrackerWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.TasktrackerWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Tasktracker.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {load_from_system_env,true},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>},
           {server,true},
           {secret_key_base,
               <<"07/lUv4y63hVFA/NuKLpX1yKtPe9PoMk2u/I4yLPF100QiUoVm5/CewQCKlztY54">>}]},
      {'Elixir.Tasktracker.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"tasktracker_prod">>},
           {password,<<"facetime">>},
           {database,<<"tasktracker_prod">>},
           {pool_size,15}]}]}].
